<!DOCTYPE html>
<html>
<head>
    <title>Eleganter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="{{ asset('assets/images/favicon.png') }}">
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="utf-8" />

</head>
<body>
{% block header %}{% include 'includes/header.html.twig' %}{% endblock %}
{% block main %}{% include 'includes/main.html.twig' %}{% endblock %}
{% block footer %}{% include 'includes/footer.html.twig' %}{% endblock %}
</body>
</html>
