<header class="">

    <div class="card text-white h-50 w-100 border-0">
        <img id="img-header" class="card-img" src="{{ asset('images/header.png') }}" alt="image header" >
        <div class="card-img-overlay ">
            <nav id="navright" class="navbar navbar-expand-md navbar-dark sticky-top ">
                <a class="navbar-brand" href="#">
                    <img alt="logo" src="{{ asset('images/logoEleganter.png')}}" class="w-50">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item nav-link ml-2 active" href="#">Home <span class="sr-only">(current)</span></li>
                        <li class="nav-item nav-link ml-2 " href="#">Products</li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                        <li class="nav-item nav-link ml-2 " href="#">About</li>
                        <li class="nav-item nav-link ml-2 " href="#">Gallery</li>
                        <li class="nav-item nav-link ml-2 " href="#">Contact</li>
                    </ul>
                </div>
            </nav>
            <div class="row col-md-4 mx-auto text-center position-absolute fixed-bottom mb-5 d-flex align-items-center">
                <h1 class="card-title">Eleganter is the Most Elegant HTML5 Template</h1>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button class="btn btn-lg-dark mx-auto" type="button">Learn More</button>
            </div>
        </div>
    </div>

</header>